node_modules/
# Ignore build output and cache files
/dist/
/.next/
/.cache/

# Ignore log files
*.log

# Ignore editor and IDE files
.vscode/
.idea/
*.iml

# Ignore npm/Yarn lock files
package-lock.json
yarn.lock

